
#brand{
    color: #fdc100;
}

#brandName{
  margin-top: 100px; 
  font-family: fantasy; 
  color: white;
  margin-left: 20px;
}
h3{
    margin-top: 100px;
    color: white;
}

h6{
    color:#5c5b59;
}
p{
    color: aliceblue;
}
#secondSection{
    margin-left: 20px;
    height: 100vw;
}

.vehicle-container {
    display: flex;
    flex-wrap: wrap; /* This allows the cards to wrap to the next line */
    gap: 1rem; /* Optional: adds space between the cards */
  }
  
  .vehicle-container > div {
    flex: 0 1 200px; /* Adjust the width of each card as desired */
  }
  
