<div class="contact">
    <div class="row">
        <app-customer-header></app-customer-header>
    </div>

    <div class="row">
        <div class="col-7">
            <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1><br>
            <h5>We will contact you as soon as possible.</h5>
            <h6 class="text-left">Need assistance or have a question? Our team is here to help!<div>Contact us through
                    the form below,</div> or reach out via phone or email. <div>We're committed to ensuring a smooth
                    rental experience</div> from start to finish.</h6>
            <br>
        </div>

        <div class="col-5">
            <div class="form">
                <p class="title">Contact </p>
                <p class="message">Contact us to get more details. </p>
                <label>
                    <input class="input" type="text" placeholder="" required="" [(ngModel)]="dailyContact.name">
                    <span>Name</span>
                </label>

                <label>
                    <input class="input" type="email" placeholder="" required="" [(ngModel)]="dailyContact.vehicleID">
                    <span>Vehicle ID</span>
                </label>

                <label>
                    <input class="input" type="password" placeholder="" required="" [(ngModel)]="dailyContact.DrivingLicenseNumber">
                    <span>DL Number</span>
                </label>
                <label>
                    <input class="input" type="password" placeholder="" required="" [(ngModel)]="dailyContact.contact">
                    <span>Contact Number</span>
                </label>
                <button class="submit" (click)="addContact()">Submit</button>
            </div>
        </div>
    </div>

</div>