<div class="about">
    <div class="row">
        <app-customer-header></app-customer-header>
    </div>

    <div class="row">
        <div class="d-flex flex-wrap align-items-end justify-content-end justify-content-end position-relative position-fixed">
            <img src="assets/img/222.jpg" alt="Car Image" class="img-fluid " style="max-width: 100%; " id="aboutImage">
        </div>
        <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
        <h3 class="text-left" id="aboutUs">About Us</h3>
    </div>

    <div class="row" id="thirdSection">
        <div class="col-2"></div>

        <div class="col-4" id="aboutDescription">
            <h1 class="text-left" id="descOne">We Are More Than</h1>
            <h1 class="text-left" id="descTwo">A Car Rental Company</h1><br>
            <p>Car repair: Each step of the process is carefully tailored to meet the customer's needs. Our team efficiently handles everything, ensuring a smooth flow from start to finish. We focus on quality, with modern equipment and skilled technicians who are experts in diagnostics and repair. Whether it’s a minor tune-up or a major overhaul, we’re committed to getting you back on the road with confidence.</p>
            <p> Our focus is on delivering an exceptional experience, combining style with performance for a seamless fit into your lifestyle.</p>
        </div>

        <div class="col-6" id="aboutImageTwo">
            <div class="d-flex flex-wrap align-items-center justify-content-center position-relative">
                <img src="assets/img/about (1).jpg" alt="Car Image" class="img-fluid " style="max-width: 50%;" id="">
            </div> 
        </div>
    </div>
</div>