<div class="input">
    <button class="value" routerLink="/adminHome">
      Home
    </button>
    <button class="value" routerLink="/customerManage">
      Customer
    </button>
    <button class="value" routerLink="/vehicleManage">
      Vehicles
    </button>
    <button class="value" routerLink="/employeeManage">
      Employee
    </button>
    <button class="value" routerLink="/branchManage">
      Branch
    </button>
    <button class="value" routerLink="/rental">
      Rental
    </button>
    <button class="value" routerLink="/previouseRentals">
      Previouse Rentals
    </button>
</div>
  
