<div class="input">
    <button class="value" routerLink="/adminHome">
      Home
    </button>
    <button class="value" routerLink="/adminHome/customerManage">
      Customer
    </button>
    <button class="value" routerLink="/adminHome/vehicleManage">
      Vehicles
    </button>
    <button class="value" routerLink="/adminHome/employeeManage">
      Employee
    </button>
    <button class="value" routerLink="/adminHome/branchManage">
      Branch
    </button>
    <button class="value" routerLink="/adminHome/rental">
      Rental
    </button>
    <button class="value" routerLink="/adminHome/previouseRentals">
      Previouse Rentals
    </button>
    <button class="value" routerLink="/adminHome/dailyContacts">
      Daily Contact
    </button>
</div>
  
