<div class="services">
  <div class="row">
    <div
      class="d-flex flex-wrap align-items-end justify-content-end justify-content-end position-relative position-fixed">
      <img src="assets/img/service.jpg" alt="Car Image" class="img-fluid " style="max-width: 100%; " id="aboutImage">
    </div>
    <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
    <h3 class="text-left" id="aboutUs">Our Services</h3>
  </div>

  <div class="row" id="thirdSection">
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom" id="offerTitle">WHAT WE OFFER</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <h3 class="fs-2" id="service">Flexible Rental Options</h3>
          <p>Enjoy flexible rental durations, whether you need a vehicle for a few hours, days, or weeks. Customize your
            experience with options that suit your travel plans.</p>
        </div>
        <div class="feature col">
          <h3 class="fs-2" id="service">Vehicle Selection</h3>
          <p>Choose from a diverse fleet of vehicles, including compact cars, SUVs, and luxury models, ensuring you find
            the perfect ride for any occasion and budget.</p>
        </div>
        <div class="feature col">
          <h3 class="fs-2" id="service">24/7 Customer Support</h3>
          <p>Our dedicated support team is available around the clock to assist you with reservations, inquiries, or any
            issues, ensuring a smooth and hassle-free rental experience.</p>
        </div>

        <div class="feature col">
          <h3 class="fs-2 " id="service">Insurance and Protection Plans</h3>
          <p>Drive with confidence by choosing from various insurance and protection plans tailored to your needs,
            providing peace of mind and coverage against unexpected events during your rental.</p>
        </div>

        <div class="feature col">
          <h3 class="fs-2 " id="service">Delivery and Pickup Services</h3>
          <p>Enjoy the convenience of our delivery and pickup options, allowing you to have your rental vehicle brought
            directly to your location or returned at your convenience, making your travel experience seamless.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row position-relative">
    <app-footer></app-footer>
  </div>
</div>