<div class="employee">
    <div class="row">
        <app-admin-header></app-admin-header>
    </div>

    <div class="row">
        <div class="col-3">
            <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
            <h3 id="category">EMPLOYEE</h3>
        </div>
        <div class="col-9">
            <div class="search">
                <div class="search-box">
                    <div class="search-field">
                        <input placeholder="NIC" class="input" type="text" [(ngModel)]="nic">
                        <div class="search-box-icon">
                            <button class="btn-icon-content" (click)="searchEmployeeByNIC()">
                                <i class="search-icon">
                                    <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                                        <path
                                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                            fill="#fff"></path>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="container">
                <main>
                    <div class="row g-5" id="EmployeeForm">
                        <div class="col-md-12 col-lg-12">
                            <!-- <form class="needs-validation" novalidate> -->
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="customerID" class="form-label">NIC</label>
                                    <input type="text" class="form-control" id="txtemployee" placeholder="" value=""
                                        [(ngModel)]="employee.nic" [(ngModel)]="searchedEmployeeObject.nic" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="lastName" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="txtemployee" placeholder="" value=""
                                        [(ngModel)]="employee.employeeName"
                                        [(ngModel)]="searchedEmployeeObject.employeeName" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="license" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="txtemployee" placeholder="" value=""
                                        [(ngModel)]="employee.employeeAddress"
                                        [(ngModel)]="searchedEmployeeObject.employeeAddress" required>
                                    <div class="invalid-feedback">
                                        Valid first name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="contactNo" class="form-label">Contact No</label>
                                    <input type="text" class="form-control" id="txtemployee" placeholder="" value=""
                                        [(ngModel)]="employee.employeeContact"
                                        [(ngModel)]="searchedEmployeeObject.employeeContact" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="contactNo" class="form-label">Position</label>
                                    <input type="text" class="form-control" id="txtemployee" placeholder="" value=""
                                        [(ngModel)]="employee.employeePosition"
                                        [(ngModel)]="searchedEmployeeObject.employeePosition" required>
                                    <div class="invalid-feedback">
                                        Valid last name is required.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="state" class="form-label">Branch</label>
                                    <select class="form-select" id="state" required id="txtemployee"
                                        [(ngModel)]="employee.branchID" [(ngModel)]="searchedEmployeeObject.branchID">
                                        <option value="">Choose...</option>
                                        <option value="" *ngFor="let branch of branchList" [value]="branch.branchID">
                                            {{branch.location}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button class="w-100 btn btn-primary btn-lg" type="submit" id="btn"
                                (click)="addEmployee()">ADD
                                EMPLOYEE</button><br><br>
                            <!-- </form> -->
                        </div>
                    </div>
                </main>
                <br>
            </div>
        </div>

        <div class="col-6">
            <table class="table" id="employeeTable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Branch</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let employee of employeeList">
                        <th scope="row">{{employee.employeeID}}</th>
                        <td>{{employee.employeeName}}</td>
                        <td>{{employee.employeePosition}}</td>
                        <td>{{employee.branchID}}</td>
                        <td><button class="btn btn-danger" (click)="deleteEmployee(employee.employeeID)"><i
                                    class="bi bi-trash3"></i></button></td>
                        <td><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                (click)="viewSearchedEmployee(employee)"><i class="bi bi-pencil-square"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- ======================================= UPDATING MODEL ===================================== -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">NIC:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="searchedEmployee.nic">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            [(ngModel)]="searchedEmployee.employeeName">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Contact No:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            [(ngModel)]="searchedEmployee.employeeContact">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            [(ngModel)]="searchedEmployee.employeeAddress">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Position:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            [(ngModel)]="searchedEmployee.employeePosition">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Branch:</label>
                        <input type="text" class="form-control" id="recipient-name"
                            [(ngModel)]="searchedEmployee.branchID">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="updateEmployee()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>