<div class="home">
    <div class="row">
        <app-customer-header></app-customer-header>
    </div>

    <div class="row">
        <div class="col-6" id="homeContent">
            <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
            <h1 id="easily">EASILY</h1>
            <p id="FirstSectionDesc">Unlock adventure with our car rental service.</p>
            <p id="FirstSectionDesc">Choose from a variety of vehicles and hit the road with ease!</p>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Register</button>
            </div><br><br>
        </div>
        <div class="col-6">
            <div class="d-flex flex-wrap align-items-end justify-content-end justify-content-end">
                <img src="assets/img/settion1Image.jpeg" alt="Car Image" class="img-fluid mt-3"
                    style="max-width: 100%; height: 590px; width: 500px;" id="carImage">
            </div>
        </div>
    </div>

    <div class="row" id="sectionTwo">
        <div class="col-3">
            <h1 class="preH1">
                <div class="presentage">100%</div>
                <div class="preService">service</div>
            </h1>
        </div>

        <div class="col-9">
            <div class="container px-4 py-5" id="icon-grid">
                <h2 class="pb-2 border-bottom" id="features">
                    Features
                </h2>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                    <div class="col d-flex align-items-start">
                        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                            <use xlink:href="#bootstrap" />
                        </svg>
                        <div>
                            <h3 class=" mb-0 fs-4 text-body-emphasis" id="featureHeadLine">Trusted Car Dealership</h3>
                            <p>we offer a wide range of high-quality vehicles, both new and pre-owned.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                            <use xlink:href="#cpu-fill" />
                        </svg>
                        <div>
                            <h3 class="mb-0 fs-4 text-body-emphasis" id="featureHeadLine">Transparent Pricing</h3><br>
                            <p>Offering clear, upfront costs with no hidden fees.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                            <use xlink:href="#home" />
                        </svg>
                        <div>
                            <h3 class="mb-0 fs-4 text-body-emphasis" id="featureHeadLine">Vehicle Maintenance</h3>
                            <p>Maintenance and repair by certified technicians, ensuring your vehicle performs at its
                                best.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                            <use xlink:href="#cpu-fill" />
                        </svg>
                        <div>
                            <h3 class=" mb-0 fs-4 text-body-emphasis" id="featureHeadLine">Transparent Pricing</h3><br>
                            <p>Offering clear, upfront costs with no hidden fees.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row stack-vertical" id="sectionThree">
        <div class="col-4" id="cardCar">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="assets/img/card2.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <div class="card-back">
                        <img src="assets/img/card4.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-4" id="cardCar1">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="assets/img/card5.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <div class="card-back">
                        <img src="assets/img/card1.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-4" id="cardCar2">
            <div class="card">
                <div class="card-inner">
                    <div class="card-front">
                        <img src="assets/img/card6.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                    <div class="card-back">
                        <img src="assets/img/card4.jpeg" alt="" style="height: 200px; width: 300px;">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <app-footer></app-footer>
    </div>
</div>