<div class="home">
    <div class="row">
        <div class="col-6" id="homeContent">
            <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
            <h1 id="easily">EASILY</h1>
            <p>Unlock adventure with our car rental service.</p>
            <p>Choose from a variety of vehicles and hit the road with ease!</p><br>
        </div>
        <div class="col-6">
            <div class="d-flex flex-wrap align-items-end justify-content-end justify-content-end">
            <img src="assets/img/settion1Image.jpeg" alt="Car Image" class="img-fluid mt-3" style="max-width: 100%; height: 590px; width: 500px;" id="carImage">
            </div>
        </div>
    </div>

    <div class="row" id="sectionTwo">
        <div class="col-3">
            <h1 class="preH1">
                <div class="presentage">100%</div>
                <div class="preService">service</div>
            </h1>
        </div>
        <div class="col-3" id="ourservoces">Trusted Car Dealership <p class="ourServiceP">we offer a wide range of high-quality vehicles, both new and pre-owned</p></div>
        <div class="col-3" id="ourservoces">Transparent Pricing <p class="ourServiceP">Offering clear, upfront costs with no hidden fees</p></div>
        <div class="col-3" id="ourservoces">Trusted Car Dealership <p class="ourServiceP">Maintenance and repair by certified technicians, ensuring your vehicle remains safe, reliable, and performs at its best</p></div>
    </div>

    <div class="row stack-vertical" id="sectionThree">
        <div class="col-4" id="cardCar">
            <div class="card">
            <div class="first-content">
                <img src="assets/img/rain1.jpeg" alt="" height="300px" width="240px" id="carImg">
            </div>
            <div class="second-content">
                <img src="assets/img/card1.jpg" alt="" height="300px" width="240px" id="carImg">
            </div>
            </div>
        </div>

        <div class="col-4" id="cardCar1">
            <div class="card">
            <div class="first-content">
                <img src="assets/img/sun1.jpeg" alt="" height="300px" width="240px" id="carImg">
            </div>
            <div class="second-content">
                <img src="assets/img/card2.jpg" alt="" height="300px" width="240px" id="carImg">
            </div>
            </div>
        </div>

        <div class="col-4" id="cardCar2">
            <div class="card">
            <div class="first-content">
                <img src="assets/img/22.jpeg" alt="" height="300px" width="240px" id="carImg">
            </div>
            <div class="second-content">
                <img src="assets/img/sun2.jpeg" alt="" height="300px" width="240px" id="carImg">
            </div>
            </div>
        </div>
    </div>


    <div class="row" id="sectionFour">
        <div class="details">
            <div class="row">
            <div class="col-3" id="footer1">
                <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
            <div class="col-3">D</div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li>FAQ</li>
                    <li>Payment Option</li>
                    <li>Booking Tips</li>
                    <li>How it works</li>
                    <li>Contact Us</li>
                  </ul>
            </div>
            <div class="col-3">
              <ul class="contact">
                <li>203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li><a href="#">+2 392 3929 210</a></li>
                <li><a href="#">infogmail.com</a></li>
              </ul>
            </div>
        </div>
        </div>
    </div>
</div>