<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ vehicleInformation.type }}</h5>
        <p class="card-text " id="desc">{{vehicleInformation.description}}</p>
        <p class="card-text mb-1">Year :{{vehicleInformation.year}}</p>
        <p class="card-text mb-1">Colour :{{vehicleInformation.colour}}</p>
        <p class="card-text mb-1">Model :{{vehicleInformation.model}}</p>
        <p class="card-text mb-1" id="price">{{vehicleInformation.rentalPrice}}</p>
        <p class="card-text mb-1" id="status">{{vehicleInformation.status}}</p>
        <a href="#" class="btn btn-secondary">Rent now</a>
      </div>
    </div>
  </div>
</div>

<br>