.card-body{
    background-color: rgb(41, 42, 42);
    border: none;
}
.card-text{
    color: white;
}
.container{
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Optional: Adds space between cards */
}
.col-12 {
    flex: 1 1 250px; /* Allows cards to be at least 250px wide and wrap */
}
