<div class="preRentals">
    <div class="row">
        <div class="col-8">
            <h1 class="text-left" id="brandName">SMART<span id="brand">RENT</span></h1>
            <h3 id="category">PREVIOUSE RENTALS</h3>
        </div>

        <div class="col-4">
            <div class="search">
                <div class="search-box">
                    <div class="search-field">
                        <input placeholder="Rental ID / Customer ID / Vehicle ID" class="input" type="text">
                        <div class="search-box-icon">
                            <button class="btn-icon-content">
                                <i class="search-icon">
                                    <svg xmlns="://www.w3.org/2000/svg" version="1.1" viewBox="0 0 512 512">
                                        <path
                                            d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                                            fill="#fff"></path>
                                    </svg>
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <section>
                <!--for demo wrap-->
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Customer ID</th>
                                <th>Vehicle ID</th>
                                <th>No Of Days</th>
                                <th>Pick-up date</th>
                                <th>Drop-off date</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr *ngFor="let rental of rentalList">
                                <th scope="row">{{rental.rentalID}}</th>
                                <td>{{rental.customerID}}</td>
                                <td>{{rental.vehicleID}}</td>
                                <td>{{rental.noOfDays}}</td>
                                <td>{{rental.pickUpDate}}</td>
                                <td>{{rental.dropOffDate}}</td>
                                <td><button class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"(click)="generateBill(rental.vehicleID)" >BILL</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Rental Bill</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Rental Price:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="billingVehicle.rentalPrice">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Days:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="rentDays">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Hourse:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="rentHours">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="proceedPayment()" >Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>